@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Index</PageTitle>
@if (g != null)
{
    <div>
        <p>@g.cards.Count(_ => _.isCorrect())/@g.cards.Count() réponses correctes.</p>
        <p><a href="https://cousinzins.fr/inscription">Pour vous inscrire à notre newsletter.</a></p>
    </div>
    @foreach (Card c in g.cards)
    {
        <div class="box">
            <img src="/images/@c.image" alt="@c.image" />
            <p>Réponse : <input id="@c.image" type="text" value="@c.data" @oninput="(s)=>onchange(s, c)" /></p>
            <p>La réponse est @c.status()</p>
        </div>
    }
    <div>
        <button onclick="(e)=>@reset()">Tout effacer</button>
    </div>
}

@code {
    Game g;

    protected override async Task OnInitializedAsync()
    {
        g = new Game();
        if (await localStorage.ContainKeyAsync("game"))
            g = await localStorage.GetItemAsync<Game>("game");
    }

    async Task onchange(ChangeEventArgs e, Card c)
    {
        c.data = e.Value.ToString();
        await localStorage.SetItemAsync<Game>("game", g);
        StateHasChanged();
    }

    async Task reset()
    {
        await localStorage.RemoveItemAsync("game");
    }
}
